:root {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    #contact-bar {
        flex-direction: column;
        margin-top: 0;
        padding: 10px;
    }

    #contact {
        margin-left: 0;
        text-align: center;
        font-size: 16px;
    }

    #socials {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    nav {
        text-align: center;
        padding: 5px;
        display: wrap;
    }

    .nav-link {
        font-size: 80%;
        margin: 0;
    }
    
    #myName {
        font-size: 1.5rem;
        margin-top: 100px;
    }
    section {
        padding: 10%;
        height: auto;
    }

    .continueBtn {
        font-size: 1.5rem;
    }
    #projects-container {
        width: 100%;
    }

    .projectBtn {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .project-1-images {
        width: 100%;
        padding-top: 5%;
    }

    h1 {
        font-size: 200%;
    }

    h2 {
        font-size: 1.5rem;
    }

    #description, #skills, #projects, #languages {
        margin-left: 0;
        font-size: 1rem;
    }
}

@font-face {
    font-family: SourceCodePro;
    src: url('./assets/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: SourceCodePro;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#contact-bar {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    margin-top: 58px;
    flex-wrap: wrap;
}

#contact {
    margin-left: 5%;
    width: 100%;
    font-family: Verdana;
    font-size: 20px;
}

#socials {
    width: auto;
    text-align: right;
    margin-right: 10%;
}

#github, #linkedin {
    margin: 5px;
    width: 40px;
}

nav {
    text-align: right;
    width: 100%;
    background-color: #2a2828;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 1;
}

.nav-link {
    color: rgb(16, 228, 40);
    padding: 10px;
    font-family: SourceCodePro;
    text-decoration: none;
    font-size: 120%;
    margin-right: 10px;
}

section {
    background-color: #2a2828;
    color: rgb(16, 228, 40);
    border-top: 3px solid #2d2e30;
    padding: 5%;
    height: auto;
}

#hero {
    background-color: #2a2828;
    color: rgb(16, 228, 40);
}
.continueBtn {
    background-color: #2a2828;
    color: rgb(16, 228, 40);
    font-family: SourceCodePro;
    font-size: 20px;
    box-shadow: none;
    border: none;
    background: none;
}

.continueBtn:hover {
    background-color: #585656;
    border-radius: 4px;
    color: rgb(16, 228, 40);
}

#description {
    margin-left: 10%;
    font-size: 1.5rem;
}

#skills {
    margin-left: 10%;
    font-size: 1.5rem;
}
#projects {
    margin-left: 10%;
    font-size: 1.5rem;
}

#projects-container {
    width: 15%;
}

.projectBtn {
    background-color: #2a2828;
    color: rgb(16, 228, 40);
    text-decoration: none;
    font-family: SourceCodePro;
    font-size: 18px;
    box-shadow: none;
    background: none;
    text-align: center;
    border: 1px solid rgb(16, 228, 40);
    padding: 10px 20px;
    margin-left: 10%;
}

.projectBtn:hover {
    background-color: #585656;
    color: rgb(16, 228, 40);
}

#project-1-images-container {
    display:inline-block;
}

.project-1-images {
    width: 80vh;
    padding-top: 8%;
}

.project-1-images:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in;
}

#about {
    background: linear-gradient(to right, #262655, #00bfff);
    color: white;
    font-size: 1.5rem;
}

#about, #resume {
    
    color: white;
}

h1 {
    font-size: 2rem;
    color: #0078d7; 
}

#links {
    color: red;
    padding-right: 20px;
    text-decoration: underline;
}

#links:hover {
    color: blueviolet;
}

/* Section Titles */
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(16, 228, 40);
    border-bottom: 2px solid #0078d7;
    padding-bottom: 5px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    #hero {
        height: 100vh;
        text-align: left;
    }
    #contact-bar {
        flex-direction: column;
        align-items: center;
    }

    #contact {
        margin-left: 0;
        text-align: center;
    }

    #socials {
        margin-right: 0;
        text-align: center;
    }

    nav {
        text-align: right;
        white-space: nowrap; /* Ensure buttons stay on the same line */
        padding: 0 10px; /* Add padding to ensure content stays within the viewport */
    }

    .nav-link {
        font-size: 80%;
        display: inline-block; /* Ensure buttons stay inline */
    }

    section {
        padding: 10%;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .projectBtn {
        font-size: 16px;
        padding: 6px 12px;
        display: block;
    }

    #projectsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    #sitesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }
}
