:root {
    scroll-behavior: smooth;
}

/* Body Styling */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: white;
    background-color: #f4f4f9;
}

nav {
    text-align: right;
    width: 100%;
    background-color: #333;
    padding: 10px;
    position: fixed;
    right: 0;
}

#nav-link {
    color: white;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 150%;
}

section {
    border-top: 3px solid #0078d7;
    padding: 5%;
}

#hero {
    background-color: #ffffff;
    color: black;
}

#about {
    background: linear-gradient(to right, #262655, #00bfff);
    color: white;
}

#contact {
    background-color: white;
    color: black;
}

#contact {
    background-color: #ffffff;
    color: black;
}

#resume {
    background: linear-gradient(to right, #262655, #00bfff);
    color: white;
}

#projects {
    background-color: #ffffff;
    color: black;
}



h1 {
    font-size: 175%;
    color: #0078d7; 
}

p {
    font-size: 1.2rem;
}

#links {
    color: red;
    padding-right: 20px;
    text-decoration: underline;
}
#links:hover {
    color: blueviolet
}

/* Section Titles */
h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #0078d7;
    border-bottom: 2px solid #0078d7;
    padding-bottom: 5px;
}

/* Paragraphs */
p {
    margin-bottom: 15px;
}
