:root {
    scroll-behavior: smooth;
}

@font-face {
    font-family: SourceCodePro;
    src: url('./assets/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
}
body {
    margin: 0;
    line-height: 1.6;
    font-family: SourceCodePro;
}

#contact-bar {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    margin-top: 58px;
}

#contact {
    margin-left: 5%;
    width: 100%;
    font-family: Verdana;
    font-size: 20px;
}

#socials {
    width: 1000px;
    text-align: right;
    margin-right: 10%;
}

#github {
    margin-top: 5px;
    width: 50px;
}

#linkedin {
    width: 50px;
    margin-bottom: 2px;
}

nav {
    text-align: right;
    width: 100%;
    background-color: #2a2828;
    padding: 10px;
    position: fixed;
    right: 0;
}

.nav-link {
    color: rgb(16, 228, 40);
    padding: 10px;
    font-family: SourceCodePro;
    text-decoration: none;
    font-size: 150%;
    margin-right: 20px;
}

section {
    border-top: 3px solid #0078d7;
    padding: 5%;
    height: 100vh;
}

#hero {
    background-color: #2a2828;
    color: rgb(16, 228, 40);
}

.continueBtn {
    background-color: #2a2828;
    color: rgb(16, 228, 40);
    font-family: SourceCodePro;
    font-size: 20px;
    box-shadow: none;
    border: none;
    background: none;
}

.continueBtn:hover {
    background-color: #585656;
    border-radius: 4px;
    color: rgb(16, 228, 40);
}

#description {
    margin-left: 10%;
}

#skills {
    margin-left: 10%;
}
.projectBtn {
    background-color: #2a2828;
    color: rgb(16, 228, 40);
    font-family: SourceCodePro;
    font-size: 20px;
    box-shadow: none;
    background: none;
    text-align: center;
    border: 1px solid rgb(16, 228, 40);
    padding: 10px 20px;
}

.projectBtn:hover {
    background-color: #585656;
    color: rgb(16, 228, 40);
}

#about {
    background: linear-gradient(to right, #262655, #00bfff);
    color: white;
}

#resume {
    background: linear-gradient(to right, #262655, #00bfff);
    color: white;
}

h1 {
    font-size: 300%;
    color: #0078d7; 
}

#links {
    color: red;
    padding-right: 20px;
    text-decoration: underline;
}
#links:hover {
    color: blueviolet
}

/* Section Titles */
h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #0078d7;
    border-bottom: 2px solid #0078d7;
    padding-bottom: 5px;
}
